@{
    ViewBag.Title = "About Me";
}
<style>
    .background {
        /*display: flex;*/
        background-image: url('../../Content/3KBRock.png');
        background-size: cover;
        height: 100vh;
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        margin: auto;
        color: whitesmoke;
        /*font-size: large;*/
        font-size: large;
    }

    a:visited {
        color: whitesmoke;
    }

    a:link {
        color: whitesmoke;
    }

    a:hover {
        color: #00ccff;
    }
</style>
<body class="background"></body>
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@

<p>All of my life I just went to work where there was a job available, most of the time those jobs didn't challenge me for what I was made for. My story begins in 2020, year of the pandemic. After spending 4 years as Director at Chick-fil-A, I decided to follow my dream of learning to code, learning to create in 3D, and then figuring out how to creatively blend them. After many conversations with friends and family, I finally took the leap to follow my passion. I signed up for a coding bootcamp, what better way than to dive right in head first! I should have done it years ago, but I cannot change the past. I will however, change my future. I say we mix a little creativity with a little tech and the possibilities can be endless.</p>
