@{
    ViewBag.Title = "Contact me";
}
<style>
    .background {
        background-size: cover;
        background-image: url('../../Content/3KBRock.png');
        background-position: center;
        background-repeat: no-repeat;
        height: 100vh;
        margin: auto;
        color: whitesmoke;
        font-size: large;
    }

    a:visited {
        color: cadetblue;
    }

    a:link {
        color: cadetblue;
    }

    a:hover {
        color: cyan;
    }
</style>
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@
<body class="background"></body>
<address>
    3KB Productions<br />
    Central Indiana<br />
    @*<abbr title="Phone">P:</abbr>
    425.555.0100*@
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:3kbproductions@gmail.com">3kbproductions@gmail.com</a><br />
    
</address>