@{
    ViewBag.Title = "Home Page";
}
<style>
#HomePageBody {

        display:flex;
        background-image: url('/Content/FutureJobTracker4.png');
        background-size: cover;
        height:100vh;
        background-position: center;
        background-repeat: no-repeat;
        margin: auto;
    }
.jumbotron{
    padding-left: 600px;
    padding-top: 200px;
    background: transparent;

}
.row{
    /*padding-top: 300px;
    padding-left: 400px;*/
    margin: auto;
    color: white;
    text-shadow: 1px 1px 2px black;
    position: relative;
    left: 300px;
    top: 300px;
    font-weight: bold;
    
}
.row a{
    color: black;
}
</style>
<body id="HomePageBody">
<div class="jumbotron">
    @*<h1>ASP.NET</h1>*@
    @*<p class="lead">Future Job Tracker is a great tool to keep track of all your applications when searching for your next job.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Get started</h2>
        <p>
            Future Job Tracker is a place to keep track of all your applications you've submitted for that future job you want.
        </p>
        <p><a class="btn btn-default" href="/Application/Index">View Applications &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Add Comments</h2>
        <p>Want to add a comment on the progress of your application? Click here.</p>
        <p><a class="btn btn-default" href="/Comment/Index">View Comments &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>More about us</h2>
        <p>Learn more about 3KB Productions.</p>
        <p><a class="btn btn-default" href="http://3kbproductions.com">Learn more &raquo;</a></p>
    </div>
</div>
</body>