@{
    ViewBag.Title = "Home Page";
}
<style>
#HomePageBody {

        display:flex;
        background-image: url('/Content/FutureJobTracker3.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        margin: auto;
    }
.jumbotron{
    padding-left: 600px;
    padding-top: 200px;
    background: transparent;

}
.row{
    padding-top: 200px;
    padding-left: 400px;
    color: white;
    justify-items:center;
    font-weight: bold;
}
</style>
<body id="HomePageBody">
<div class="jumbotron">
    @*<h1>ASP.NET</h1>*@
    @*<p class="lead">Future Job Tracker is a great tool to keep track of all your applications when searching for your next job.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>
</body>