@{
    ViewBag.Title = "Home Page";
}
<style>
#HomePageBody {

        display:flex;
        background-image: url('/Content/FutureJobTracker3.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        margin: auto;
    }
.jumbotron{
    padding-left: 600px;
    padding-top: 200px;
    background: transparent;

}
.row{
    padding-top: 200px;
    padding-left: 400px;
    color: white;
    justify-items:center;
    font-weight: bold;
}
</style>
<body id="HomePageBody">
<div class="jumbotron">
    @*<h1>ASP.NET</h1>*@
    @*<p class="lead">Future Job Tracker is a great tool to keep track of all your applications when searching for your next job.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Future Job Tracker is just simply that........a place to keep track of all your applications you've submitted for that future job you want.
        </p>
        <p><a class="btn btn-default" href="~/Views/Application/Index.cshtml">View Applications &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Add Comments</h2>
        <p>Want to add a comment on the progress of your application? Click here.</p>
        <p><a class="btn btn-default" href="~/Views/Comment/Index.cshtml">View Comments &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>More about us</h2>
        <p>Learn more about 3KB Productions.</p>
        <p><a class="btn btn-default" href="http://3kbproductions.com">Learn more &raquo;</a></p>
    </div>
</div>
</body>